@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  background-color: #049cd8ab;
  text-align: center;
  margin: auto;
  color: rgb(251, 232, 145);
  height: 100vh;
}

.container {
  width: 500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 200px;
  height: 200px;
  margin: 10px auto;
  border: 10px solid;
  border-radius: 20px;
}

.green {
  background-color: #43B047;
  border-color: #216424;
}

.red {
  background-color: #E52521;
  border-color: #64100f;
}

.yellow {
  background-color: #FBD000;
  border-color: #5c4c01;;
}

.blue {
  background-color: #049CD8;
  border-color: #013144;;
}

.pressed {
  box-shadow: white 0px 0px 20px;
  /* background-color: grey; */
  opacity: 0.7;
}

.clicked {
  opacity: 0.8;
}

button {
  background-color: transparent;
  border: none;
  font: inherit;
  color: inherit;
  margin: 20px auto;
  cursor: pointer;
}

button:hover {
  color:  rgb(50, 50, 50);
}

button:disabled {
  color: rgb(50, 50, 50);
  cursor: default;
}

@media only screen and (max-width: 600px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }

  .container {
    width: 350px;
  }

  .card {
    width: 140px;
    height: 140px;
  }
}